@{
    ViewData["Title"] = "Home Page";
}

<app-root>
    
    <div>
        <p>Die Anwendung ist noch nicht gestartet!</p>
    </div>

</app-root>

@section Scripts {
    
    <script type="text/javascript" src="dist/scripts/test.bundle.js"></script>

}